body {
	font-size: 100%;
	font-family: Helvetica;
}

#body {
	clear: both;
	float: none;
	width: 100%;
}

header {
  text-align: center;
}
header .date, header h1 {
  color: #bebebe;
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
  line-height: 2.2rem;
  margin: 0;
  text-transform: uppercase;
}
header .date b {
  display: block;
  font: bold 3.2rem/0.8rem
  letter-spacing: 0;
}
header .date .today {
  color: #459be7;
}
header a {
  border-bottom: 1px solid #edb330;
  color: #777777;
  font-size: 1rem;
  position: absolute;
  text-decoration: none;
  top: 0.8rem;
}
header a:hover {
  color: #edb330;
}
header a.prev {
	float: left;
	position: relative;
	left: 0rem;

}
header a.next {
	float: right;
	position: relative;
	right: 0rem;
}

.column {
	float: left;
	display: inline-block;
}

.row {
	clear: both;
	float: none;
}

#tags, #dates {
	width: 100%;
	float: left;
	padding-left: 0rem;
	list-style-type: none;
}

.tag {
	float: none;
	clear: both;
	width: 100%;
	display: inline-block;
	border-radius: 0.2rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.tag:hover {
	background-color: #dedede;
	cursor: pointer;
}

.tag-name {
	float: left;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

.tag-selected {
    background-color: #d3d3d3;
}

.tag-counter {
	float: right;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	padding: 0.3rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	border-radius: 0.9rem;
}

#tags .tag-counter {
	background-color: rgb(33, 132, 240);
	color: white;
}

#dates .tag-counter {
	background-color: rgb(240, 124, 33);
	color: white;
}

#tasks {
	list-style-type: none;
	padding-left: 0rem;
}

.task {
	margin-bottom: 0.50rem;
	padding: 0.2rem;
	border-radius: 0.3rem;
	border: 1px solid #dedede;
	background: #f2f2f2;
	color: #777777;
	box-shadow: 0 0.3rem 0 rgb(255, 223, 155);
	display: block;
}

    .task hidden {
        display: none;
    }

.task-title {
	clear: both;
	line-height: 2rem;
	float: none;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	display: block;
	border-bottom: 1px solid #dedede;
}

.task-title .edit {
	margin-left: 0.2rem;
}

.new-task {
	background-color: rgb(240, 124, 33);
	color: white;
}

.new-task:hover {
	cursor: pointer;
}

.due-date {
	font-weight: normal;
	float: right;
	font-size: 0.8rem;
}
.edit-task-block {
    display: inline-block;
}
.save-task-button,
.save-new-task-button,
.cancel-task-button,
.cancel-new-task-button,
.edit-task-button {
    display: inline;
    margin-left: 0.2rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #8b0000;
    color: white;
    padding: 0.1rem;
}

.save-task-button:hover,
.save-new-task-button:hover,
.cancel-task-button:hover,
.cancel-new-task-button:hover,
.edit-task-button:hover {
    background-color: #ff4500;
    color: white;
}

.task-fulltext {
	display: none;
}

.task-body, .task-fulltext {
	clear: both;
	float: none;
	padding-top: 0.9rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	padding-bottom: 0.3rem;
	cursor: pointer;
}

.task-tags {
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    margin: 0.4rem;
    color: #4169e1;
}


textarea.task-body {
    width: 90%;
    min-height: 2.2rem;
}

input.title-text,
input.task-title,
input.task-due-date,
input.task-tags
{
    width: 90%;
    border: 1px solid;
}

.task-form {
    background-color: #dedede;
    color: black;
}

#task-map {
    width: 100%;
    height: 16rem;
}

.hidden {
    display: none;
}
